openapi: 3.0.3
info:
  title: MBapp API
  version: '2025-09-25'
  description: Single-source-of-truth API for MBapp objects, views, workspaces, and tools.
  license:
    url: https://license.mbapp.dev
    name: MIT
servers:
- url: https://api.mbapp.dev
tags:
- name: Objects
  description: Generic object CRUD, list, search, and actions by type.
- name: Auth
  description: |
    Authentication and policy.
    JWT includes `mbapp` claim object with:
      - `mbapp.userId` (string)
      - `mbapp.tenantId` (string)
      - `mbapp.roles` (string array)
      - `mbapp.policy` (Record<string, boolean>)
    Policy precedence:
      - if `mbapp.policy` is present and non-empty, use it as-is
      - else derive permissions from `mbapp.roles`
      - else policy is empty
    Permission keys:
      - keys are lowercase
      - wildcard semantics supported: `*`, `*:*`, `*:read`, `{type}:*`
    Compatibility: server expands legacy aliases for party/parties, product/products, sales/salesorder, purchase/purchaseorder, and inventory/inventoryitem.
- name: Views
  description: Saved per-module user views (filters/sorts/columns).
- name: Workspaces
  description: Role-aware cross-module compositions (tiles).
- name: Tools
  description: Dev/ops helpers for non-prod use.
- name: Admin
  description: Administrative and audit endpoints.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
      description: Optional idempotency key for safe retries.
    TenantHeader:
      name: x-tenant-id
      in: header
      required: true
      schema:
        type: string
    TypePath:
      name: type
      in: path
      required: true
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 200
        default: 25
      description: Maximum number of items to return
    Next:
      name: next
      in: query
      schema:
        type: string
    Q:
      name: q
      in: query
      schema:
        type: string
      description: Optional substring search filter
    Cursor:
      name: next
      in: query
      schema:
        type: string
      description: Opaque pagination cursor for next page
    EntityType:
      name: entityType
      in: query
      schema:
        type: string
        enum:
        - purchaseOrder
        - salesOrder
        - inventoryItem
        - party
        - account
        - event
        - employee
        - organization
        - product
        - class
        - division
      description: Filter by entity/object type
    Fields:
      name: fields
      in: query
      schema:
        type: string
        description: Comma-separated field projection
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationErrorResponse:
      description: Validation error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    ListPage:
      description: Paged list of objects
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/AnyObject'
              next:
                type: string
                nullable: true
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Optional additional context
    ValidationError:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          fieldErrors:
            type: array
            description: Field-specific validation errors
            items:
              type: object
              required:
              - field
              - message
              properties:
                field:
                  type: string
                  description: Field name or path
                message:
                  type: string
                  description: Validation error message
                code:
                  type: string
                  description: Error code for this field
    Account:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - account
          name:
            type: string
            minLength: 1
          number:
            type: string
            minLength: 1
          currency:
            type: string
            pattern: ^[A-Z]{3}$
            default: USD
          accountType:
            type: string
            description: e.g., asset, liability, revenue, expense, equity
            enum:
            - asset
            - liability
            - revenue
            - expense
            - equity
          balance:
            type: number
            description: Current balance (display only)
            readOnly: true
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
    Address:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postal:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
    AnyObject:
      type: object
      additionalProperties: true
      properties: {}
    BackorderRequest:
      type: object
      required: [id, type, soId, soLineId, itemId, qty, createdAt, status]
      properties:
        id:          { type: string }
        type:        { type: string, enum: [backorderRequest] }
        preferredVendorId: { type: string, nullable: true, description: 'Optional denormalized vendor preference for UI filtering' }
        soId:        { type: string }
        soLineId:    { type: string }
        itemId:      { type: string }
        qty:         { type: number }
        fulfilledQty: { type: number, nullable: true, description: 'Server-maintained qty fulfilled via PO receive' }
        remainingQty: { type: number, nullable: true, description: 'Server-maintained remaining qty to fulfill' }
        createdAt:   { type: string, format: date-time }
        status:      { type: string, enum: [open, ignored, converted, fulfilled], default: open }
    Class:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - class
          divisionId:
            type: string
            nullable: true
          code:
            type: string
          name:
            type: string
          description:
            type: string
            nullable: true
          fee:
            type: number
            nullable: true
          order:
            type: integer
            nullable: true
          rules:
            type: array
            items:
              type: string
            nullable: true
          notes:
            type: string
            nullable: true
    CustomerAccount:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - customerAccount
          partyId:
            type: string
          termsId:
            type: string
            nullable: true
          creditLimit:
            type: number
            nullable: true
          priceListId:
            type: string
            nullable: true
          taxExempt:
            type: boolean
            default: false
          defaultBillToId:
            type: string
            nullable: true
          defaultShipToId:
            type: string
            nullable: true
        required:
        - partyId
    Division:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - division
          code:
            type: string
          name:
            type: string
          description:
            type: string
            nullable: true
          fee:
            type: number
            nullable: true
          rules:
            type: array
            items:
              type: string
            nullable: true
          notes:
            type: string
            nullable: true
    Employee:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - employee
          name:
            type: string
            minLength: 1
          displayName:
            type: string
          email:
            type: string
            format: email
          phone:
            type: string
          role:
            type: string
          status:
            type: string
            enum:
            - active
            - inactive
            - terminated
            default: active
          hiredAt:
            type: string
            format: date-time
          startDate:
            type: string
            format: date-time
            description: Alias of hiredAt for UI consistency
          terminatedAt:
            type: string
            format: date-time
          notes:
            type: string
    EpcBinding:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - epcBinding
          epc:
            type: string
          itemId:
            type: string
          locationId:
            type: string
          lot:
            type: string
            nullable: true
          state:
            type: string
            enum:
            - active
            - retired
            default: active
        required:
        - type
        - epc
        - itemId
    EPCMap:
      type: object
      required:
      - id
      - type
      - epc
      - itemId
      properties:
        id:
          type: string
          description: Use EPC string as id
        type:
          type: string
          enum:
          - epcMap
          default: epcMap
        epc:
          type: string
        itemId:
          type: string
        lotId:
          type: string
          nullable: true
        locationId:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - active
          - retired
          default: active
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Event:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - event
          name:
            type: string
          description:
            type: string
          location:
            type: string
          startsAt:
            type: string
            format: date-time
          endsAt:
            type: string
            format: date-time
          start:
            type: string
            format: date-time
            description: Alias of startsAt (deprecated)
          end:
            type: string
            format: date-time
            description: Alias of endsAt (deprecated)
          status:
            type: string
            default: draft
            enum:
            - draft
            - scheduled
            - open
            - closed
            - completed
            - cancelled
            - archived
          capacity:
            type: number
            minimum: 0
          rvEnabled:
            type: boolean
            description: Enable RV add-on booking for this event (Sprint BG)
            default: false
          rvCapacity:
            type: integer
            minimum: 0
            description: RV spots available for this event (0 means none)
          rvUnitAmount:
            type: integer
            minimum: 0
            description: Price in cents per RV spot for this event
          stallEnabled:
            type: boolean
            description: Enable stall reservation for this event (Sprint BK)
            default: false
          stallCapacity:
            type: integer
            minimum: 0
            nullable: true
            description: Stall slots available for this event (0 means none, null means unlimited)
          stallUnitAmount:
            type: integer
            minimum: 0
            nullable: true
            description: Price in cents per stall for this event (optional)
          notes:
            type: string
          lines:
            type: array
            items:
              $ref: '#/components/schemas/EventLine'
        required:
        - type
        - name
        - startsAt
    EventLine:
      type: object
      properties:
        id:
          type: string
        classId:
          type: string
        capacity:
          type: number
          nullable: true
        fee:
          type: number
          nullable: true
        note:
          type: string
          nullable: true
      required:
      - classId
    GoodsReceipt:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - poId
        - ts
        - lines
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - goodsReceipt
          tenantId:
            type: string
          poId:
            type: string
          userId:
            type: string
            nullable: true
          ts:
            type: string
            format: date-time
            nullable: true
          lines:
            type: array
            items:
              type: object
              required:
              - id
              - deltaQty
              properties:
                id:
                  type: string
                  description: Canonical line id (preferred). Server-assigned `L{n}` pattern.
                lineId:
                  type: string
                  nullable: true
                  deprecated: true
                  description: Alias for `id` (compatibility; will be removed after transition).
                itemId:
                  type: string
                  nullable: true
                deltaQty:
                  type: number
                lot:
                  type: string
                  nullable: true
                locationId:
                  type: string
                  nullable: true
          notes:
            type: string
            nullable: true
          attachments:
            type: array
            items:
              type: string
    GoodsReceiptLine:
      type: object
      required:
      - id
      - deltaQty
      properties:
        id:
          type: string
          description: Canonical line id (preferred). Server-assigned `L{n}` pattern.
        lineId:
          type: string
          nullable: true
          deprecated: true
          description: Alias for `id` (compatibility; will be removed after transition).
        deltaQty:
          type: number
        locationId:
          type: string
          nullable: true
        lot:
          type: string
          nullable: true
    Integration:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - integration
          provider:
            type: string
            enum:
            - shopify
            - quickbooks
            - rfid
            - webhook
            - streaming
          status:
            type: string
            enum:
            - disabled
            - enabled
          config:
            type: object
            additionalProperties: true
        required:
        - type
        - provider
        - status
    IntegrationRun:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - integrationRun
          integrationId:
            type: string
          startedAt:
            type: string
            format: date-time
          finishedAt:
            type: string
            format: date-time
            nullable: true
          status:
            type: string
            enum:
            - queued
            - running
            - success
            - error
          stats:
            type: object
            additionalProperties: true
          error:
            type: string
            nullable: true
        required:
        - type
        - integrationId
        - startedAt
        - status
    InventoryAdjustmentRequest:
      type: object
      required:
      - deltaQty
      properties:
        deltaQty:
          type: number
          description: Quantity adjustment (positive to add, negative to subtract)
        reason:
          type: string
          nullable: true
          description: Reason for adjustment (legacy field, use note instead)
          minLength: 1
        note:
          type: string
          nullable: true
          description: Note or reason for the adjustment
        notes:
          type: string
          nullable: true
          description: Alias for note (both are accepted for backwards compatibility)
    PutawayRequest:
      type: object
      required:
      - qty
      - toLocationId
      properties:
        qty:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Quantity to putaway (must be > 0)
        toLocationId:
          type: string
          description: Target location id
        fromLocationId:
          type: string
          nullable: true
          description: Source location id (optional audit trail)
        lot:
          type: string
          nullable: true
          description: Lot identifier (optional)
        note:
          type: string
          nullable: true
          description: Optional note for the putaway movement
    CycleCountRequest:
      type: object
      required:
      - countedQty
      properties:
        countedQty:
          type: number
          minimum: 0
          description: Physical count quantity (non-negative)
        locationId:
          type: string
          nullable: true
          description: Location where count was performed (optional)
        lot:
          type: string
          nullable: true
          description: Lot identifier (optional)
        note:
          type: string
          nullable: true
          description: Optional note for the cycle count movement
    InventoryItem:
      description: |
        Canonical inventory object (type=inventoryItem). Legacy records may be stored with type=inventory; server treats inventory and inventoryItem as aliases for backward compatibility.
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - inventoryItem
          productId:
            type: string
            nullable: true
          name:
            type: string
          sku:
            type: string
          quantity:
            type: number
            description: "Deprecated \u2013 use /inventory/{id}/onhand"
            deprecated: true
          uom:
            type: string
          location:
            type: string
            nullable: true
          minQty:
            type: number
            minimum: 0
            nullable: true
          maxQty:
            type: number
            minimum: 0
            nullable: true
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
          notes:
            type: string
            nullable: true
          lotTracked:
            type: boolean
            default: false
          barcode:
            type: string
            nullable: true
          tags:
            type: array
            items:
              type: string
    InventoryMovement:
      type: object
      required:
      - id
      - itemId
      - action
      - qty
      properties:
        id:
          type: string
        itemId:
          type: string
        action:
          type: string
          enum:
          - receive
          - reserve
          - commit
          - fulfill
          - adjust
          - release
          - putaway
          - cycle_count
        qty:
          type: number
        at:
          type: string
          format: date-time
        note:
          type: string
          nullable: true
        actorId:
          type: string
          nullable: true
        refId:
          type: string
          description: Source document id (e.g., purchaseOrder id)
          nullable: true
        poLineId:
          type: string
          description: Optional purchase order line id (when action is from a PO)
          nullable: true
        soId:
          type: string
          description: Optional sales order id (when action is from an SO, e.g., reserve/commit/release/fulfill)
          nullable: true
        soLineId:
          type: string
          description: Optional sales order line id (when action is from an SO line)
          nullable: true
        uom:
          type: string
          nullable: true
        lot:
          type: string
          nullable: true
        locationId:
          type: string
          nullable: true
        docType:
          type: string
          readOnly: true
          enum:
          - inventoryMovement
    InventoryOnHand:
      type: object
      required:
      - id
      - qtyOnHand
      properties:
        id:
          type: string
        qtyOnHand:
          type: number
          minimum: 0
        qtyAvailable:
          type: number
          minimum: 0
          nullable: true
        asOf:
          type: string
          format: date-time
      deprecated: true
      description: "Deprecated \u2013 use InventoryCounters & GET /inventory/{id}/onhand"
    ListPageInventoryMovement:
      type: object
      required:
      - itemId
      - items
      properties:
        itemId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryMovement'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
        pageInfo:
          description: Optional pagination metadata (clients may ignore).
          type: object
          properties:
            hasNext:
              type: boolean
            nextCursor:
              type: string
              nullable: true
            pageSize:
              type: integer
    ListMovementsByLocationResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryMovement'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
    Message:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - channel
        - body
        properties:
          type:
            type: string
            enum:
            - message
          channel:
            type: string
            enum:
            - push
            - sms
            - email
          subject:
            type: string
            nullable: true
          body:
            type: string
          to:
            type: string
            nullable: true
            description: Recipient address for email/sms channels; optional for segmented push
          segment:
            type: object
            additionalProperties: true
            nullable: true
          scheduleAt:
            type: string
            format: date-time
            nullable: true
          sentAt:
            type: string
            format: date-time
            nullable: true
          lastAttemptAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp of last send attempt
          status:
            type: string
            enum:
            - queued
            - sending
            - sent
            - failed
            - cancelled
            default: queued
          provider:
            type: string
            nullable: true
            description: Email provider name (e.g., "postmark", "sendgrid")
          providerMessageId:
            type: string
            nullable: true
            description: Provider-assigned message identifier (e.g., Postmark MessageID)
          errorMessage:
            type: string
            nullable: true
            description: Last provider error message if status is failed
          retryCount:
            type: integer
            nullable: true
            description: Number of retry attempts after failures
          templateKey:
            type: string
            nullable: true
            description: Template identifier for rendering subject/body (Sprint BA)
          templateVars:
            type: object
            additionalProperties: true
            nullable: true
            description: Variables for template rendering (Sprint BA)
          queuedAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp when message was queued
          metadata:
            type: object
            additionalProperties: true
            nullable: true
            description: Additional metadata (e.g., registrationId, paymentIntentId)
          notes:
            type: string
            nullable: true
    MessageRetryResult:
      type: object
      description: Summary of a message after a retry attempt
      required:
      - id
      - status
      properties:
        id:
          type: string
        status:
          type: string
        retryCount:
          type: integer
          nullable: true
        lastAttemptAt:
          type: string
          format: date-time
          nullable: true
        sentAt:
          type: string
          format: date-time
          nullable: true
        provider:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
    MoneyTotals:
      type: object
      properties:
        subtotal: { type: number }
        tax:      { type: number }
        shipping: { type: number }
        discount: { type: number }
        total:    { type: number }
    ObjectBase:
      type: object
      properties:
        id:        { type: string, readOnly: true }
        tenantId:  { type: string, readOnly: true }
        type:      { type: string }
        createdAt: { type: string, format: date-time, readOnly: true }
        updatedAt: { type: string, format: date-time, readOnly: true }
        metadata:  { type: object, additionalProperties: true }
      required: [id, tenantId, createdAt, updatedAt]
    ReservationHold:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        description: Ledger object for count-based holds/confirmations (e.g., event seats, RV spots).
        required:
        - type
        - ownerType
        - ownerId
        - scopeType
        - scopeId
        - itemType
        - qty
        - state
        - heldAt
        properties:
          type:
            type: string
            enum: [reservationHold]
          ownerType:
            type: string
            description: Owning entity type for the hold (e.g., registration)
            enum: [registration]
          ownerId:
            type: string
          scopeType:
            type: string
            description: Scope type for the resource being reserved (e.g., event)
            enum: [event]
          scopeId:
            type: string
            description: Scope ID (e.g., eventId)
          itemType:
            type: string
            description: Reserved item kind within the scope
            enum: [seat, rv, stall]
          qty:
            type: number
            minimum: 1
          state:
            type: string
            enum: [held, confirmed, released, cancelled]
            description: Current state of the reservation hold
          heldAt:
            type: string
            format: date-time
          expiresAt:
            type: string
            format: date-time
            nullable: true
          confirmedAt:
            type: string
            format: date-time
            nullable: true
          releasedAt:
            type: string
            format: date-time
            nullable: true
          releaseReason:
            type: string
            nullable: true
            description: Optional freeform reason for release/cancel (v1; consider enum later)
          resourceId:
            type: string
            nullable: true
            description: Optional specific resource ID (e.g., EventResource stall ID). When null, refers to a pool/block of resources (Sprint BK).
          groupId:
            type: string
            nullable: true
            description: Optional grouping ID (e.g., barn/row/section). Can also be stored in metadata (Sprint BK).
          metadata:
            type: object
            additionalProperties: true
            nullable: true
    Organization:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - organization
          name:
            type: string
          kind:
            type: string
            enum:
            - club
            - federation
            - venueOp
            - sponsor
            example: federation
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
          notes:
            type: string
            nullable: true
          metadata:
            type: object
            additionalProperties: true
            nullable: true
          code:
            type: string
            nullable: true
          website:
            type: string
            format: uri
            nullable: true
          phone:
            type: string
            nullable: true
          email:
            type: string
            format: email
            nullable: true
          address:
            type: string
            nullable: true
          prefs:
            type: object
            additionalProperties: true
            nullable: true
    Party:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - kind
        - displayName
        - status
        properties:
          type:
            type: string
            enum:
            - party
          kind:
            type: string
            enum:
            - person
            - organization
            - animal
          displayName:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          email:
            type: string
            format: email
          phone:
            type: string
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address'
          tags:
            type: array
            items:
              type: string
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
          notes:
            type: string
          roles:
            type: array
            items:
              type: string
            description: Canonical role membership (customer, vendor, employee, etc.). Used for party role enforcement.
    PartyLink:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - aPartyId
        - bPartyId
        - kind
        properties:
          type:
            type: string
            enum:
            - partyLink
          aPartyId:
            type: string
          bPartyId:
            type: string
          kind:
            type: string
            enum:
            - employs
            - member_of
            - owns
            - handles
            - parent
            - affiliate
          startsAt:
            type: string
            format: date-time
          endsAt:
            type: string
            format: date-time
          notes:
            type: string
    Policy:
      type: object
      description: "Permission map; keys are permission strings (e.g., 'product:read', 'inventory:write'); values are boolean (true if granted). Supports wildcard patterns: '*' (superuser), '*:*' (all actions), '*:read' (read all), 'product:*' (all product actions)."
      additionalProperties:
        type: boolean
    Product:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - product
          name:
            type: string
          kind:
            type: string
            enum:
            - good
            - service
            default: good
          sku:
            type: string
          price:
            type: number
            minimum: 0
            nullable: true
          reorderEnabled:
            type: boolean
            description: "If false, never auto-suggest PO for shortages."
            default: true
          preferredVendorId:
            type: string
            nullable: true
          minOrderQty:
            type: number
            nullable: true
          leadTimeDays:
            type: number
            nullable: true
          taxCode:
            type: string
            nullable: true
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
          notes:
            type: string
            nullable: true
          defaultItemId:
            type: string
            nullable: true
          tags:
            type: array
            items:
              type: string
    PurchaseOrderLine:
      type: object
      required: [itemId, qty, uom]
      properties:
        id:          { type: string, description: "Server-assigned on create; included in responses" }
        itemId:      { type: string, description: InventoryItem.id }
        productId:   { type: string, nullable: true }
        description: { type: string, nullable: true }
        uom:         { type: string }
        qty:         { type: number, minimum: 0, description: Ordered quantity }
        qtyRequested: { type: number, nullable: true, description: "Original requested qty (pre-adjustment)" }
        qtySuggested: { type: number, nullable: true, description: "Suggested qty after MOQ adjustments" }
        adjustedFrom: { type: number, nullable: true, description: "When MOQ applied, original requested qty" }
        minOrderQtyApplied: { type: number, nullable: true, description: "Applied MOQ when suggestion bumps qty" }
        qtyReceived: { type: number, default: 0 }   # server-computed
        unitPrice:   { type: number, nullable: true }
        taxRate:     { type: number, nullable: true }
        lineTotal:   { type: number, nullable: true }
        locationId:  { type: string, nullable: true }
        lot:         { type: string, nullable: true }
        expectedDate: { type: string, format: date-time, nullable: true }
        backorderRequestIds: { type: array, items: { type: string }, nullable: true, description: "BackorderRequest ids this PO line is intended to fulfill" }

    PurchaseOrder:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required: [type, vendorId, status]
        properties:
          type:          { type: string, enum: [purchaseOrder] }
          vendorAccountId: { type: string }
          vendorId:      { type: string }     # canonical
          vendorName:    { type: string }
          partyId:       { type: string }     # optional alias if you wire parties generically
          partyKind:     { type: string, enum: [person, organization, animal] }
          orderNumber:   { type: string }
          status:
            type: string
            enum: [draft, submitted, approved, partially-received, fulfilled, cancelled, closed]
          currency:      { type: string, default: USD }
          notes:         { type: string }
          totals:        { $ref: '#/components/schemas/MoneyTotals' }
          shipTo:
            type: object
            properties:
              name:    { type: string }
              address1: { type: string }
              address2: { type: string }
              city:    { type: string }
              state:   { type: string }
              postal:  { type: string }
              country: { type: string }
          billTo:
            type: object
            properties:
              name:    { type: string }
              address1: { type: string }
              address2: { type: string }
              city:    { type: string }
              state:   { type: string }
              postal:  { type: string }
              country: { type: string }
          lines:
            type: array
            items: { $ref: '#/components/schemas/PurchaseOrderLine' }
    SuggestPoResponse:
      description: Single vendor returns `draft`; multi-vendor returns `drafts`. Always includes skipped entries for ignored/invalid requests.
      allOf:
        - type: object
          properties:
            skipped:
              type: array
              items:
                type: object
                required: [backorderRequestId, reason]
                properties:
                  backorderRequestId: { type: string }
                  reason:
                    type: string
                    enum: [ZERO_QTY, MISSING_VENDOR, IGNORED, NOT_FOUND]
        - anyOf:
            - type: object
              required: [draft]
              properties:
                draft:
                  $ref: '#/components/schemas/PurchaseOrder'
            - type: object
              required: [drafts]
              properties:
                drafts:
                  type: array
                  items: { $ref: '#/components/schemas/PurchaseOrder' }

    PurchaseOrderReceiveRequest:
      type: object
      required: [lines]
      properties:
        idempotencyKey: { type: string, deprecated: true }
        lines:
          type: array
          minItems: 1
          items:
            type: object
            required: [id, deltaQty]
            properties:
              id:         { type: string, description: "Canonical line id (preferred). Server-assigned `L{n}` pattern." }
              lineId:     { type: string, nullable: true, deprecated: true, description: "Alias for id (compatibility; will be removed after transition)." }
              deltaQty:   { type: number, minimum: 1 }
              locationId: { type: string }
              lot:        { type: string }
    Registration:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - registration
          eventId:
            type: string
            description: ID of the event this registration is for
          partyId:
            type: string
            description: ID of the party (person/org) being registered
          status:
            type: string
            default: draft
            enum:
            - draft
            - submitted
            - confirmed
            - cancelled
            description: |
              Registration status (Sprint IV v1).
              - submitted = hold active until holdExpiresAt (seat reserved, payment pending)
              - confirmed = payment succeeded; seat retained
              - cancelled = hold expired or explicitly cancelled
          division:
            type: string
            nullable: true
            description: Division or category (optional)
          class:
            type: string
            nullable: true
            description: Class or level (optional)
          fees:
            type: array
            nullable: true
            description: Registration fee line items (server-owned after checkout)
            items:
              $ref: '#/components/schemas/FeeLineItem'
          rvQty:
            type: integer
            minimum: 0
            description: Number of RV spots requested for this registration (server-stored)
          stallQty:
            type: integer
            minimum: 0
            nullable: true
            description: Number of stalls requested for this registration (Sprint BK; server-stored)
          notes:
            type: string
            nullable: true
            description: Additional notes
          paymentIntentId:
            type: string
            nullable: true
            description: Stripe PaymentIntent ID (Sprint AU)
          paymentStatus:
            type: string
            nullable: true
            enum:
            - pending
            - paid
            - failed
            - refunded
            description: Payment status
          totalAmount:
            type: integer
            nullable: true
            description: Total amount in cents for this registration (server-computed)
          currency:
            type: string
            nullable: true
            description: ISO currency code for totals (e.g., "usd")
          submittedAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp when status changed to submitted (Sprint AU)
          confirmedAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp when status changed to confirmed (Sprint AU)
          cancelledAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp when status changed to cancelled (operator or TTL expiry)
          refundedAt:
            type: string
            format: date-time
            nullable: true
            description: Timestamp when payment was refunded (operator action)
          refundId:
            type: string
            nullable: true
            description: Provider refund id (server-only; never included in public response)
          holdExpiresAt:
            type: string
            format: date-time
            nullable: true
            description: When a submitted hold should expire and be cancelled; null means no TTL
          publicTokenHash:
            type: string
            nullable: true
            description: Server-side hash of public token for guest checkout (Sprint AU)
          confirmationSmsMessageId:
            type: string
            nullable: true
            description: Message object ID created for SMS confirmation (Sprint AX)
          clientId:
            type: string
            nullable: true
            description: Legacy field (use partyId instead)
          clientName:
            type: string
            nullable: true
            description: Legacy field
          qty:
            type: number
            default: 1
            minimum: 1
            nullable: true
            description: Legacy field
          startsAt:
            type: string
            format: date-time
            nullable: true
            description: Legacy field
          endsAt:
            type: string
            format: date-time
            nullable: true
            description: Legacy field
          start:
            type: string
            format: date-time
            description: Legacy alias of startsAt (deprecated)
            nullable: true
          end:
            type: string
            format: date-time
            description: Legacy alias of endsAt (deprecated)
            nullable: true
          registeredAt:
            type: string
            format: date-time
            nullable: true
            description: Legacy field
          partyKind:
            type: string
            enum:
            - person
            - organization
            - animal
            nullable: true
            description: Legacy field
          lines:
            type: array
            nullable: true
            description: Legacy field (line items)
            items:
              $ref: '#/components/schemas/RegistrationLine'
        required:
        - type
        - eventId
        - partyId
    PublicRegistrationStatusResponse:
      type: object
      description: Public-safe registration status snapshot (no PII/financials)
      properties:
        id:
          type: string
        eventId:
          type: string
        status:
          type: string
          enum: [draft, submitted, confirmed, cancelled]
        paymentStatus:
          type: string
          nullable: true
          enum: [pending, paid, failed, refunded]
        totalAmount:
          type: integer
          nullable: true
          description: Safe total amount in cents (if exposed)
        currency:
          type: string
          nullable: true
          description: ISO currency code (e.g., "usd")
        fees:
          type: array
          nullable: true
          description: Safe projection of fee line items (no PII)
          items:
            $ref: '#/components/schemas/FeeLineItem'
        submittedAt:
          type: string
          format: date-time
          nullable: true
        confirmedAt:
          type: string
          format: date-time
          nullable: true
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        refundedAt:
          type: string
          format: date-time
          nullable: true
        holdExpiresAt:
          type: string
          format: date-time
          nullable: true
        emailStatus:
          type: object
          nullable: true
          properties:
            status:
              type: string
              enum: [queued, sending, sent, failed, cancelled]
            sentAt:
              type: string
              format: date-time
              nullable: true
            provider:
              type: string
              nullable: true
            errorMessage:
              type: string
              nullable: true
    PublicRegistrationResendResponse:
      type: object
      description: Result of public resend request (confirmation email/SMS)
      required:
      - registrationId
      properties:
        registrationId:
          type: string
        email:
          type: object
          nullable: true
          properties:
            status:
              type: string
              enum: [queued, sending, sent, failed, cancelled]
            sentAt:
              type: string
              format: date-time
              nullable: true
            provider:
              type: string
              nullable: true
            errorMessage:
              type: string
              nullable: true
    RefundResult:
      type: object
      description: Minimal refund information (non-sensitive)
      properties:
        id:
          type: string
          description: Provider refund id
        amount:
          type: integer
          nullable: true
          description: Refunded amount in cents (if available)
        currency:
          type: string
          nullable: true
          description: ISO currency code
        provider:
          type: string
          nullable: true
          description: Payment provider key (e.g., stripe)
    CancelRefundResponse:
      type: object
      description: Response for cancel-refund action
      properties:
        registration:
          $ref: '#/components/schemas/Registration'
        refund:
          allOf:
          - $ref: '#/components/schemas/RefundResult'
          - type: object
            nullable: true
        sms:
          type: object
          nullable: true
          properties:
            status:
              type: string
              enum: [queued, sending, sent, failed, cancelled]
            sentAt:
              type: string
              format: date-time
              nullable: true
            provider:
              type: string
              nullable: true
            errorMessage:
              type: string
              nullable: true
        rateLimited:
          type: boolean
          description: True when server skipped enqueue due to rate limit/bounds
        attempted:
          type: object
          nullable: true
          properties:
            email:
              type: boolean
              description: Whether an email resend was attempted
            sms:
              type: boolean
              description: Whether an SMS resend was attempted
        smsStatus:
          type: object
          nullable: true
          properties:
            status:
              type: string
              enum: [queued, sending, sent, failed, cancelled]
            sentAt:
              type: string
              format: date-time
              nullable: true
            provider:
              type: string
              nullable: true
            errorMessage:
              type: string
              nullable: true
    AssignStallsRequest:
      type: object
      description: Request to assign specific stalls to a registration (Sprint BK)
      required:
      - stallIds
      properties:
        stallIds:
          type: array
          description: List of EventResource IDs (stalls) to assign
          items:
            type: string
          minItems: 1
    AssignStallsResponse:
      type: object
      description: Response from assign-stalls action
      properties:
        holds:
          type: array
          description: Updated or created ReservationHold objects for assigned stalls
          items:
            $ref: '#/components/schemas/ReservationHold'
    AssignRvSitesRequest:
      type: object
      description: Request to assign specific RV site resources to a registration (Sprint BL)
      required:
      - rvSiteIds
      properties:
        rvSiteIds:
          type: array
          description: List of EventResource IDs (RV sites) to assign
          items:
            type: string
          minItems: 1
    AssignRvSitesResponse:
      type: object
      description: Response from assign-rv-sites action
      properties:
        holds:
          type: array
          description: Updated or created ReservationHold objects for assigned RV sites
          items:
            $ref: '#/components/schemas/ReservationHold'
    AssignResourcesRequest:
      type: object
      description: Request to assign specific discrete resources to a registration (Sprint BM)
      required:
      - itemType
      - resourceIds
      properties:
        itemType:
          type: string
          enum:
          - stall
          - rv
          description: Type of resource being assigned (extensible for future types like vip-suite, equipment)
        resourceIds:
          type: array
          description: List of resource IDs to assign
          items:
            type: string
          minItems: 1
    AssignResourcesResponse:
      type: object
      description: Response from assign-resources action
      properties:
        holds:
          type: array
          description: Created or updated ReservationHold objects for assigned resources
          items:
            $ref: '#/components/schemas/ReservationHold'
        count:
          type: integer
          description: Number of holds in response
    RegistrationLine:
      type: object
      properties:
        id:
          type: string
        classId:
          type: string
        qty:
          type: number
          default: 1
          minimum: 1
        note:
          type: string
          nullable: true
      required:
      - classId
      - qty
    PaymentIntentResponse:
      type: object
      description: Response from checkout endpoint containing Stripe PaymentIntent details (Sprint AU)
      required:
      - paymentIntentId
      - clientSecret
      properties:
        paymentIntentId:
          type: string
          description: Stripe PaymentIntent ID
        clientSecret:
          type: string
          description: Client secret for Stripe.js to confirm payment
        totalAmount:
          type: integer
          nullable: true
          description: Total amount in cents for the PaymentIntent (server-computed)
        currency:
          type: string
          nullable: true
          description: ISO currency code (e.g., "usd")
    PublicRegistrationRequest:
      type: object
      description: Request body for public registration creation (Sprint AU)
      required:
      - eventId
      properties:
        eventId:
          type: string
          description: ID of the event to register for
        party:
          type: object
          nullable: true
          description: Guest party information (for anonymous users)
          properties:
            name:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
            phone:
              type: string
              nullable: true
              description: Phone number for SMS confirmation (optional)
        fees:
          type: array
          nullable: true
          description: Registration fees
          items:
            type: object
            required: [code, amount]
            properties:
              code:
                type: string
              amount:
                type: number
              description:
                type: string
                nullable: true
        rvQty:
          type: integer
          minimum: 0
          maximum: 10
          default: 0
          description: Optional number of RV spots requested (pricing is server-computed; client may not submit amounts)
        division:
          type: string
          nullable: true
        class:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
    FeeLineItem:
      type: object
      description: Server-owned fee line item used to compute totals
      required: [key, label, qty, unitAmount, amount, currency]
      properties:
        key:
          type: string
          description: Machine key (e.g., "rv")
        label:
          type: string
          description: Human label (e.g., "RV Spot")
        qty:
          type: integer
          minimum: 0
        unitAmount:
          type: integer
          minimum: 0
          description: Unit price in cents
        amount:
          type: integer
          minimum: 0
          description: Total amount in cents (qty * unitAmount)
        currency:
          type: string
          description: ISO currency code (e.g., "usd")
    PublicRegistrationResponse:
      type: object
      description: Response from public registration creation including guest token (Sprint AU)
      required:
      - registration
      - publicToken
      properties:
        registration:
          $ref: '#/components/schemas/Registration'
        publicToken:
          type: string
          description: Temporary token for guest to complete checkout (single-use, short TTL)
    Reservation:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - resourceId
        - clientId
        - startsAt
        - endsAt
        properties:
          type:
            type: string
            enum:
            - reservation
          resourceId:
            type: string
          resourceName:
            type: string
            nullable: true
          eventId:
            type: string
            nullable: true
          clientId:
            type: string
          clientName:
            type: string
            nullable: true
          startsAt:
            type: string
            format: date-time
          endsAt:
            type: string
            format: date-time
          start:
            type: string
            format: date-time
            description: Alias of startsAt (deprecated)
          end:
            type: string
            format: date-time
            description: Alias of endsAt (deprecated)
          status:
            type: string
            enum:
            - pending
            - confirmed
            - in_use
            - checked_in
            - completed
            - cancelled
            default: pending
          notes:
            type: string
            nullable: true
          partyId:
            type: string
          partyKind:
            type: string
            enum:
            - person
            - organization
            - animal
          rate:
            type: number
            nullable: true
          price:
            type: number
            nullable: true
          conflictKey:
            type: string
            nullable: true
    Resource:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - resource
          name:
            type: string
          code:
            type: string
            nullable: true
          url:
            type: string
            format: uri
            nullable: true
          expiresAt:
            type: string
            format: date-time
            nullable: true
          resourceType:
            type: string
            enum:
            - stall
            - rv
            - arena
            - equipment
            - other
            default: other
          status:
            type: string
            enum:
            - available
            - unavailable
            - maintenance
            default: available
          capacity:
            type: number
            minimum: 0
            nullable: true
          location:
            type: string
            nullable: true
          tags:
            type: array
            items:
              type: string
          notes:
            type: string
            nullable: true
    SalesFulfillmentLine:
      type: object
      required: [id, deltaQty]
      properties:
        id:         { type: string, description: "Canonical line id (preferred). Server-assigned `L{n}` pattern." }
        lineId:     { type: string, nullable: true, deprecated: true, description: "Alias for id (compatibility; will be removed after transition)." }
        deltaQty:   { type: number, minimum: 1 }
        locationId: { type: string, nullable: true }
        lot:        { type: string, nullable: true }
    SalesFulfillment:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required: [type, soId, ts, lines]
        properties:
          type:     { type: string, enum: [salesFulfillment] }
          soId:     { type: string }
          userId:   { type: string, nullable: true }
          ts:       { type: string, format: date-time }
          lines:
            type: array
            items: { $ref: '#/components/schemas/SalesFulfillmentLine' }
          carrier:     { type: string, nullable: true }
          tracking:    { type: string, nullable: true }
          notes:       { type: string, nullable: true }
          attachments:
            type: array
            items: { type: string }
    SalesOrder:
      description: Sprint XXIX web UI uses /objects/salesOrder for draft create/edit with partyId, optional customerId/notes, and simple line {id,itemId,qty,uom} fields.
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required: [type, partyId, status]
        properties:
          type:          { type: string, enum: [salesOrder] }
          partyId:       { type: string }   # canonical
          customerId:    { type: string }   # legacy alias (optional)
          partyKind:     { type: string, enum: [person, organization, animal] }
          orderNumber:   { type: string }
          customerName:  { type: string }
          status:
            type: string
            enum: [draft, submitted, committed, partially_fulfilled, fulfilled, cancelled, closed]
          currency:      { type: string, default: USD }
          notes:         { type: string }
          totals:        { $ref: '#/components/schemas/MoneyTotals' }
          billTo:
            type: object
            properties:
              name:    { type: string }
              address1: { type: string }
              address2: { type: string }
              city:    { type: string }
              state:   { type: string }
              postal:  { type: string }
              country: { type: string }
          shipTo:
            type: object
            properties:
              name:    { type: string }
              address1: { type: string }
              address2: { type: string }
              city:    { type: string }
              state:   { type: string }
              postal:  { type: string }
              country: { type: string }
          lines:
            type: array
            items: { $ref: '#/components/schemas/SalesOrderLine' }
          backorders:
            type: array
            description: Present when non-strict commit recorded shortages
            items:
              type: object
              properties:
                lineId:      { type: string }
                itemId:      { type: string }
                backordered: { type: number }
    SalesOrderLine:
      type: object
      required: [itemId, qty, uom]
      properties:
        id:            { type: string, description: "Server-assigned on create; included in responses" }
        itemId:        { type: string }
        productId:     { type: string, nullable: true }
        description:   { type: string, nullable: true }
        uom:           { type: string }                # UI treats as non-editable
        qty:           { type: number, minimum: 0 }
        qtyCommitted:  { type: number, default: 0 }    # server-computed
        qtyFulfilled:  { type: number, default: 0 }    # server-computed
        unitPrice:     { type: number, nullable: true }
        taxRate:       { type: number, nullable: true }
        lineTotal:     { type: number, nullable: true }
        locationId:    { type: string, nullable: true }
        lot:           { type: string, nullable: true }

    # Patch-lines (draft edit) utility types
    PatchLinesOp:
      type: object
      description: Minimal patch operation for editing lines in draft orders.
      properties:
        op:
          type: string
          enum: [upsert, remove]
        id:
          type: string
          description: Server-assigned line id (stable). Preferred for matching existing lines. Server may assign ids like `L1`, `L2`, ... and they are preserved.
        cid:
          type: string
          description: Client-side temporary key for new lines before persistence; best-effort match when `id` is absent.
        patch:
          type: object
          description: Partial line fields to merge when op=upsert
      required: [op]
    PatchLinesRequest:
      type: object
      required: [ops]
      properties:
        ops:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PatchLinesOp'
    ScannerAction:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - scannerAction
          action:
            type: string
            enum:
            - pick
            - receive
            - count
            - move
          epc:
            type: string
            description: EPC as scanned
          itemId:
            type: string
          ts:
            type: string
            format: date-time
          sessionId:
            type: string
          soId:
            type: string
          lineId:
            type: string
          fromLocationId:
            type: string
          toLocationId:
            type: string
          qty:
            type: number
            default: 1
          notes:
            type: string
        required:
        - type
        - action
        - epc
        - itemId
        - ts
    ScannerSession:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - scannerSession
          userId:
            type: string
          workspaceId:
            type: string
          status:
            type: string
            enum:
            - active
            - stopped
          startedAt:
            type: string
            format: date-time
          stoppedAt:
            type: string
            format: date-time
            nullable: true
        required:
        - type
        - userId
        - status
        - startedAt
    SalesOrderReserveRequest:
      type: object
      required: [lines]
      properties:
        lines:
          type: array
          minItems: 1
          items:
            type: object
            required: [id, deltaQty]
            properties:
              id:       { type: string, description: "Canonical line id (preferred). Server-assigned `L{n}` pattern." }
              lineId:   { type: string, nullable: true, deprecated: true, description: "Alias for id (compatibility; will be removed after transition)." }
              deltaQty: { type: number, minimum: 1 }
              locationId: { type: string, nullable: true, description: "Optional: when provided, reservation is applied to the specific location; if omitted, behavior is aggregate/unassigned (legacy)." }
              lot:        { type: string, nullable: true, description: "Optional: lot identifier to associate with the reservation when applicable." }

    SalesOrderReleaseRequest:
      type: object
      required: [lines]
      properties:
        lines:
          type: array
          minItems: 1
          items:
            type: object
            required: [id, deltaQty]
            properties:
              id:       { type: string, description: "Canonical line id (preferred). Server-assigned `L{n}` pattern." }
              lineId:   { type: string, nullable: true, deprecated: true, description: "Alias for id (compatibility; will be removed after transition)." }
              deltaQty: { type: number, minimum: 1 }
              reason:   { type: string }
              locationId: { type: string, nullable: true, description: "Optional: when provided, release is applied to the specific location; if omitted, behavior is aggregate/unassigned (legacy)." }
              lot:        { type: string, nullable: true, description: "Optional: lot identifier; may be ignored for release in current implementation." }

    SalesCommitRequest:
      type: object
      properties:
        strict: { type: boolean, description: 'Same as ?strict=1' }

    SalesCommitResponse:
      allOf:
      - $ref: '#/components/schemas/SalesOrder'
      - type: object
        properties:
          shortages:
            type: array
            description: Present when strict=false and availability is partial
            items:
              type: object
              properties:
                lineId:      { type: string }
                itemId:      { type: string }
                backordered: { type: number }
    Scorecard:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - eventId
        - classId
        properties:
          type:
            type: string
            enum:
            - scorecard
          eventId:
            type: string
          classId:
            type: string
          template:
            type: object
            additionalProperties: true
          entries:
            type: array
            items:
              type: object
            nullable: true
          status:
            type: string
            enum:
            - draft
            - published
            - archived
            default: draft
          notes:
            type: string
            nullable: true
    VendorAccount:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - vendorAccount
          partyId:
            type: string
          termsId:
            type: string
            nullable: true
          remitToAddressId:
            type: string
            nullable: true
          is1099:
            type: boolean
            default: false
          defaultExpenseAccount:
            type: string
            nullable: true
          defaultCOGSAccount:
            type: string
            nullable: true
        required:
        - partyId
    Venue:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - venue
          name:
            type: string
          address:
            type: string
            nullable: true
          timezone:
            type: string
            nullable: true
          geo:
            type: object
            properties:
              lat:
                type: number
              lon:
                type: number
            nullable: true
          notes:
            type: string
            nullable: true
    View:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        description: Saved per-module user view with filters, sort, and column configuration. Sprint III v1 supports filters and sort; columns are reserved for future.
        properties:
          type:
            type: string
            enum:
            - view
          name:
            type: string
            minLength: 1
            maxLength: 120
            description: Display name for the view
          entityType:
            type: string
            description: Object type this view applies to (e.g., purchaseOrder, salesOrder, inventoryItem, party)
            enum:
            - purchaseOrder
            - salesOrder
            - inventoryItem
            - party
            - account
            - event
            - employee
            - organization
            - product
            - class
            - division
          filters:
            type: array
            description: Filter expressions (Sprint III v1)
            items:
              $ref: '#/components/schemas/ViewFilter'
          sort:
            $ref: '#/components/schemas/ViewSort'
            description: Optional sort configuration
            nullable: true
          columns:
            type: array
            description: Field names to display (reserved for Sprint IV+)
            items:
              type: string
            nullable: true
          description:
            type: string
            description: Optional notes about the view
            nullable: true
          ownerId:
            type: string
            description: User/party who owns this view (for sharing/permission future work)
            nullable: true
          shared:
            type: boolean
            default: false
            description: Whether view is shared with tenant users
        required:
        - type
        - name
        - entityType
    ViewFilter:
      type: object
      description: Filter expression for View (Sprint III v1). Operator support depends on field type.
      properties:
        field:
          type: string
          description: Object field name (e.g., status, createdAt, vendorId)
        op:
          type: string
          description: Comparison operator
          enum:
          - eq
          - ne
          - lt
          - le
          - gt
          - ge
          - in
          - nin
          - contains
          - startsWith
          - regex
        value:
          description: Filter value (type depends on field and operator)
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
      required:
      - field
      - op
      - value
    ViewSort:
      type: object
      description: Sort order for View results
      properties:
        field:
          type: string
          description: Field name to sort by
        dir:
          type: string
          enum:
          - asc
          - desc
          default: asc
      required:
      - field
    ViewList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/View'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
        pageInfo:
          description: Optional pagination metadata (clients may ignore).
          type: object
          properties:
            hasNext:
              type: boolean
            nextCursor:
              type: string
              nullable: true
            pageSize:
              type: integer
    Workspace:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        description: Minimal workspace definition (Sprint III v1 is "list my views" only). In v1, a Workspace is a response wrapper for Views. Full multi-tile composition deferred to v2.
        properties:
          type:
            type: string
            enum:
            - workspace
          name:
            type: string
            minLength: 1
            maxLength: 200
            description: Workspace name
          entityType:
            type: string
            description: Optional module/object key this workspace targets (aligns to View.entityType)
            enum:
            - purchaseOrder
            - salesOrder
            - inventoryItem
            - party
            - account
            - event
            - employee
            - organization
            - product
            - class
            - division
          description:
            type: string
            description: Optional description
            nullable: true
          views:
            type: array
            description: List of View IDs included in this workspace (Sprint III v1 may be empty; views listed via GET /views)
            items:
              type: string
            default: []
          defaultViewId:
            type: string
            nullable: true
            description: Optional ID of default view to open when workspace is selected. Must be in views[] and entityType-compatible (if workspace.entityType set).
          ownerId:
            type: string
            description: User/party who owns this workspace
            nullable: true
          shared:
            type: boolean
            default: false
            description: Whether workspace is shared with tenant users
        required:
        - type
        - name
    WorkspaceList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
        pageInfo:
          description: Optional pagination metadata (clients may ignore).
          type: object
          properties:
            hasNext:
              type: boolean
            nextCursor:
              type: string
              nullable: true
            pageSize:
              type: integer
    RegistrationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Registration'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
        pageInfo:
          description: Optional pagination metadata (clients may ignore).
          type: object
          properties:
            hasNext:
              type: boolean
            nextCursor:
              type: string
              nullable: true
            pageSize:
              type: integer
    WorkspaceTile:
      type: object
      properties:
        moduleKey:
          type: string
        viewId:
          type: string
          nullable: true
        inlineQuery:
          type: object
          additionalProperties: true
          nullable: true
        layout:
          type: object
          additionalProperties: true
      required:
      - moduleKey
    InventoryCounters:
      type: object
      required:
      - itemId
      - onHand
      - reserved
      - available
      properties:
        itemId:
          type: string
        onHand:
          type: number
        reserved:
          type: number
        available:
          type: number
        asOf:
          type: string
          format: date-time
    InventoryOnHandByLocationItem:
      type: object
      required:
      - itemId
      - onHand
      - reserved
      - available
      properties:
        itemId:
          type: string
        locationId:
          type: string
          nullable: true
        onHand:
          type: number
        reserved:
          type: number
        available:
          type: number
        asOf:
          type: string
          format: date-time
    Location:
      allOf:
      - $ref: '#/components/schemas/ObjectBase'
      - type: object
        required:
        - type
        - name
        properties:
          type:
            type: string
            enum:
            - location
          name:
            type: string
          code:
            type: string
            nullable: true
            description: Short code/label for the location
          kind:
            type: string
            nullable: true
            enum:
            - facility
            - warehouse
            - zone
            - aisle
            - rack
            - bin
            - staging
            - dropoff
            - address
            - geo
            - other
            default: facility
          status:
            type: string
            enum:
            - active
            - inactive
            - archived
            default: active
          parentId:
            type: string
            nullable: true
            description: Optional parent location id (hierarchy)
          attributes:
            type: object
            nullable: true
            additionalProperties: true
          notes:
            type: string
            nullable: true
    LocationNode:
      type: object
      required:
      - id
      - name
      - kind
      properties:
        id:
          type: string
        name:
          type: string
        kind:
          type: string
          enum:
          - facility
          - hub
          - address
          - geo
        coords:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
        attributes:
          type: object
          additionalProperties: true
        active:
          type: boolean
          default: true
    PathEdge:
      type: object
      required:
      - id
      - fromNodeId
      - toNodeId
      - distanceKm
      properties:
        id:
          type: string
        fromNodeId:
          type: string
        toNodeId:
          type: string
        distanceKm:
          type: number
        durationMin:
          type: number
        cost:
          type: number
        isClosed:
          type: boolean
          default: false
        attributes:
          type: object
          additionalProperties: true
    Carrier:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
        name:
          type: string
        modes:
          type: array
          items:
            type: string
            enum:
            - ground
            - air
            - horse
            - internal
        contactPartyId:
          type: string
        attributes:
          type: object
          additionalProperties: true
    DeliveryTask:
      type: object
      required:
      - id
      - partyId
      - fromNodeId
      - toNodeId
      properties:
        id:
          type: string
        orderRef:
          type: string
          description: SO/PO/Reservation id or composite
        partyId:
          type: string
        fromNodeId:
          type: string
        toNodeId:
          type: string
        window:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        status:
          type: string
          enum:
          - draft
          - planned
          - enroute
          - delivered
          - failed
          - cancelled
        attributes:
          type: object
          additionalProperties: true
    RoutePlan:
      type: object
      required:
      - id
      - objective
      - tasks
      properties:
        id:
          type: string
        objective:
          type: string
          enum:
          - shortest
          - fastest
          - cheapest
          - balanced
        constraints:
          type: object
          properties:
            closures:
              type: array
              items:
                type: string
                description: edge ids closed
            forbiddenNodes:
              type: array
              items:
                type: string
            maxHoursPerDriver:
              type: number
        carrierId:
          type: string
        tasks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
        summary:
          type: object
          properties:
            distanceKm:
              type: number
            totalDurationMin:
              type: number
            totalCost:
              type: number
        status:
          type: string
          enum:
          - draft
          - planned
          - executed
          - archived
          default: draft
    ReservationsCheckConflictsRequest:
      type: object
      required:
      - resourceId
      - startsAt
      - endsAt
      properties:
        resourceId:
          type: string
          description: Resource ID
        startsAt:
          type: string
          format: date-time
          description: Reservation start time (ISO 8601)
        endsAt:
          type: string
          format: date-time
          description: Reservation end time (ISO 8601)
        excludeReservationId:
          type: string
          nullable: true
          description: Optional reservation ID to exclude from conflict check (for updates)
    ReservationsCheckConflictsResponse:
      type: object
      required:
      - conflicts
      properties:
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
          description: Array of overlapping reservations
    ResourceAvailabilityResponse:
      type: object
      required:
      - busy
      properties:
        busy:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
          description: List of reservations blocking availability in the requested time range
security:
- bearerAuth: []
paths:
  /reservation-holds/by-owner:
    get:
      tags:
      - Admin
      operationId: listReservationHoldsByOwner
      summary: List reservation holds by owner (internal)
      description: |
        Internal/operator endpoint to list reservation hold ledger records by owner.
        Useful for smokes and admin introspection. Prefer generic /objects endpoints for general CRUD.
      x-mbapp-permission: registration:read
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: ownerType
        in: query
        required: true
        schema:
          type: string
          enum: [registration]
        description: Owning entity type (currently registration)
      - name: ownerId
        in: query
        required: true
        schema:
          type: string
        description: Owner ID (e.g., registration id)
      - name: state
        in: query
        required: false
        schema:
          type: string
          enum: [held, confirmed, released, cancelled]
        description: Optional state filter
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Next'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /objects/{type}:
    get:
      tags:
      - Objects
      operationId: listObjects
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Next'
      - $ref: '#/components/parameters/Fields'
      - name: filter
        in: query
        schema:
          type: object
          additionalProperties:
            type: string
        style: form
        explode: true
        description: |
          Optional structured filters using dot notation (e.g., filter.soId=SO123&filter.itemId=ITEM456).
          Supported fields depend on object type. For backorderRequest:
          - filter.soId: Sales Order ID
          - filter.itemId: Inventory Item ID
          - filter.status: Backorder status (open, ignored, converted)
          - filter.preferredVendorId: Vendor ID
          Filters are combined with AND logic; combined with q search (substring).
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get Objects by Type
    post:
      tags:
      - Objects
      operationId: createObject
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyObject'
      responses:
        '200':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Post Objects
  /objects/{type}/list:
    get:
      tags:
      - Objects
      operationId: listObjectsExplicit
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Next'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get Objects List
  /objects/{type}/search:
    get:
      tags:
      - Objects
      operationId: searchObjects
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Next'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Search Objects by Type
    post:
      tags:
      - Objects
      operationId: searchObjectsPost
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: Full-text search query
                limit:
                  type: integer
                  default: 20
                  description: Results per page
                next:
                  type: string
                  nullable: true
                  description: Pagination cursor from previous response
                fields:
                  type: array
                  items:
                    type: string
                  description: Optional field projection
                status:
                  type: string
                  description: Filter by status (e.g., open, ignored, converted, fulfilled for backorderRequest)
                soId:
                  type: string
                  description: Filter by Sales Order ID (backorderRequest, salesOrder)
                itemId:
                  type: string
                  description: Filter by Inventory Item ID (backorderRequest, inventory)
                preferredVendorId:
                  type: string
                  description: Filter by Vendor ID (backorderRequest, product)
              description: |
                Search request body with optional filters.
                Filters are combined with AND logic and merged with q text search.
                For backorderRequest, supported filters include:
                - status: open, ignored, converted, fulfilled
                - soId: Sales Order ID
                - itemId: Inventory Item ID
                - preferredVendorId: Vendor ID
                Additional filters depend on object type.
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Search Objects by Type (POST)
  /objects/{type}/{id}:
    get:
      tags:
      - Objects
      operationId: getObject
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get Objects by Type and ID
    put:
      tags:
      - Objects
      operationId: updateObject
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyObject'
      responses:
        '200':
          description: Updated (partial merge applied)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Update Object (partial merge)
    delete:
      tags:
      - Objects
      operationId: deleteObject
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TypePath'
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Delete Objects
  /objects/party:batch:
    post:
      tags:
      - Objects
      operationId: batchGetParties
      summary: Batch get parties by IDs
      x-mbapp-permission: party:read
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - partyIds
              properties:
                partyIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: Array of party IDs to fetch (server may cap to 100 per request)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Party'
                    description: Found parties (order may differ from input; missing IDs omitted)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /auth/policy:
    get:
      tags:
      - Auth
      operationId: getPolicy
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get AUTH
  /views:
    get:
      tags:
      - Views
      operationId: listViews
      x-mbapp-permission: view:read
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/EntityType'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: List Views (Sprint III basic filtering + pagination)
    post:
      tags:
      - Views
      operationId: createView
      x-mbapp-permission: view:write
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '400':
          $ref: '#/components/responses/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Create a View
  /views/{id}:
    get:
      tags:
      - Views
      operationId: getView
      x-mbapp-permission: view:read
      security:
      - bearerAuth: []
[...]
