openapi: 3.0.3
info:
  title: MBapp API
  version: '2025-09-25'
  description: Single-source-of-truth API for MBapp objects, views, workspaces, and tools.
  license:
    url: https://license.mbapp.dev
    name: MIT
servers:
  - url: https://api.mbapp.dev
security:
  - bearerAuth: []
tags:
  - name: Objects
    description: Generic object CRUD, list, search, and actions by type.
  - name: Auth
    description: Authentication and policy.
  - name: Views
    description: Saved per-module user views (filters/sorts/columns).
  - name: Workspaces
    description: Role-aware cross-module compositions (tiles).
  - name: Tools
    description: Dev/ops helpers for non-prod use.
  - name: Admin
    description: Administrative and audit endpoints.
paths:
  /objects/{type}:
    get:
      tags:
        - Objects
      operationId: listObjects
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Fields'
        - name: filter
          in: query
          schema:
            type: object
            additionalProperties:
              type: string
          style: form
          explode: true
          description: |
            Optional structured filters using dot notation (e.g., filter.soId=SO123&filter.itemId=ITEM456).
            Supported fields depend on object type. For backorderRequest:
            - filter.soId: Sales Order ID
            - filter.itemId: Inventory Item ID
            - filter.status: Backorder status (open, ignored, converted)
            - filter.preferredVendorId: Vendor ID
            Filters are combined with AND logic; combined with q search (substring).
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get Objects by Type
    post:
      tags:
        - Objects
      operationId: createObject
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyObject'
      responses:
        '200':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Post Objects
  /objects/{type}/list:
    get:
      tags:
        - Objects
      operationId: listObjectsExplicit
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get Objects List
  /objects/{type}/search:
    get:
      tags:
        - Objects
      operationId: searchObjects
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Search Objects by Type
  /objects/{type}/{id}:
    get:
      tags:
        - Objects
      operationId: getObject
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get Objects by Type and ID
    put:
      tags:
        - Objects
      operationId: replaceObject
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyObject'
      responses:
        '200':
          description: Updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Update Objects
    delete:
      tags:
        - Objects
      operationId: deleteObject
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Delete Objects
  /auth/policy:
    get:
      tags:
        - Auth
      operationId: getPolicy
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Get AUTH
  /views:
    get:
      tags:
        - Views
      operationId: listViews
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/EntityType'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: List Views (Sprint III basic filtering + pagination)
    post:
      tags:
        - Views
      operationId: createView
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '400':
          $ref: '#/components/responses/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Create a View
  /views/{id}:
    get:
      tags:
        - Views
      operationId: getView
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get a View
    put:
      tags:
        - Views
      operationId: replaceView
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Replace a View
    patch:
      tags:
        - Views
      operationId: updateView
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              $ref: '#/components/schemas/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Update a View (partial)
    delete:
      tags:
        - Views
      operationId: deleteView
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Delete a View
  /workspaces:
    get:
      tags:
        - Workspaces
      operationId: listWorkspaces
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: ownerId
          in: query
          schema:
            type: string
          description: Filter by owner party ID
        - name: shared
          in: query
          schema:
            type: boolean
          description: Filter by shared status
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: List Workspaces (Sprint III v1 lists user/tenant workspaces; full multi-tile composition in v2)
    post:
      tags:
        - Workspaces
      operationId: createWorkspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Create a Workspace
  /workspaces/{id}:
    get:
      tags:
        - Workspaces
      operationId: getWorkspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get a Workspace
    put:
      tags:
        - Workspaces
      operationId: replaceWorkspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Replace a Workspace
    patch:
      tags:
        - Workspaces
      operationId: updateWorkspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Update a Workspace (partial)
    delete:
      tags:
        - Workspaces
      operationId: deleteWorkspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Delete a Workspace
  /registrations:
    get:
      tags:
        - Registrations
      operationId: listRegistrations
      summary: List Registrations (Sprint IV v1 with filters + search)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: eventId
          in: query
          schema:
            type: string
          description: Filter by event ID
        - name: partyId
          in: query
          schema:
            type: string
          description: Filter by party ID
        - name: status
          in: query
          schema:
            type: string
            enum:
              - draft
              - submitted
              - confirmed
              - cancelled
          description: Filter by registration status
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/ListPage'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Registrations
      operationId: createRegistration
      summary: Create a Registration
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/{id}:
    get:
      tags:
        - Registrations
      operationId: getRegistration
      summary: Get a Registration
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Registrations
      operationId: updateRegistration
      summary: Update a Registration
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Registrations
      operationId: deleteRegistration
      summary: Delete a Registration
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reservations:check-conflicts:
    post:
      tags:
        - Reservations
      operationId: checkReservationConflicts
      summary: Check for reservation conflicts within a time range
      description: |
        Check if a time slot is available for a resource by checking for overlapping reservations.
        Overlap rule: (aStart < bEnd) && (bStart < aEnd).
        Requires FEATURE_RESERVATIONS_ENABLED flag.
      security:
        - bearerAuth: []
      x-mb-flags:
        FEATURE_RESERVATIONS_ENABLED: true
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationsCheckConflictsRequest'
      responses:
        '200':
          description: Conflict check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationsCheckConflictsResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict detected - time slot is occupied
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - conflict
                  message:
                    type: string
                  details:
                    type: object
                    properties:
                      conflicts:
                        type: array
                        items:
                          type: string
                        description: IDs of conflicting reservations
  /resources/{id}/availability:
    get:
      tags:
        - Resources
      operationId: getResourceAvailability
      summary: Get resource availability within a time range
      description: |
        Query busy time slots (reservations) for a resource within a specified date range.
        Requires FEATURE_RESERVATIONS_ENABLED flag.
      security:
        - bearerAuth: []
      x-mb-flags:
        FEATURE_RESERVATIONS_ENABLED: true
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Resource ID
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start of time range (ISO 8601)
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End of time range (ISO 8601)
      responses:
        '200':
          description: Resource availability for the requested time range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAvailabilityResponse'
        '400':
          description: Validation error (missing/invalid from or to parameter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /inventory/{id}/onhand:
    get:
      summary: Get computed counters for an inventory item
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Computed counters (array with one element)
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryCounters'
  /inventory/onhand:batch:
    post:
      tags:
        - Inventory
      summary: Batch counters query (array)
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - itemIds
              properties:
                itemIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryCounters'
  /inventory/{id}/movements:
    get:
      summary: List movements for an inventory item
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: next
          schema:
            type: string
            nullable: true
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: refId
          required: false
          schema:
            type: string
          description: Optional source document id (e.g., purchaseOrder id) to filter movements.
        - in: query
          name: poLineId
          required: false
          schema:
            type: string
          description: Optional purchase order line id to filter movements created by that line.
      responses:
        '200':
          description: Paged list of inventory movements (array)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListPageInventoryMovement'
                  - type: object
                    description: Backward-compatible; includes legacy `next` and optional `pageInfo`.
  /inventory/movements:
    get:
      summary: List inventory movements filtered by location
      parameters:
        - in: query
          name: locationId
          required: true
          schema:
            type: string
          description: Location id to filter movements by
        - in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - receive
              - reserve
              - commit
              - fulfill
              - adjust
              - release
              - putaway
              - cycle_count
          description: Optional movement action type to further filter results
        - in: query
          name: refId
          required: false
          schema:
            type: string
          description: Optional source document id (e.g., purchaseOrder id) to filter movements
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Number of results per page (default 50, max 200)
        - in: query
          name: next
          schema:
            type: string
            nullable: true
          description: Opaque cursor for pagination (from previous response)
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort order by timestamp (createdAt)
      responses:
        '200':
          description: Paged list of inventory movements at the location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMovementsByLocationResponse'
        '400':
          description: Bad Request (e.g., missing required locationId)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /inventory/{id}/adjust:
    post:
      summary: Adjust on-hand (creates movement)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryAdjustmentRequest'
      responses:
        '200':
          description: Adjustment recorded as an inventory movement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryMovement'
  /inventory/{id}:putaway:
    post:
      summary: Putaway inventory to location
      description: Creates a putaway movement; location trace only (no-op for onHand counters).
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Inventory item id
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutawayRequest'
      responses:
        '200':
          description: Putaway movement recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryMovement'
        '400':
          description: BadRequest (e.g., qty <= 0 or missing toLocationId)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /inventory/{id}:cycle-count:
    post:
      summary: Reconcile on-hand via physical count
      description: |
        Performs a cycle count reconciliation. Computes delta = countedQty - currentOnHand.
        If delta = 0, returns early without writing a movement.
        Otherwise, creates a cycle_count movement with qty=delta to correct the onHand.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Inventory item id
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleCountRequest'
      responses:
        '200':
          description: |
            Cycle count completed. If delta=0, no movement is written and message='no change'.
            Otherwise, a cycle_count movement with qty=delta is recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  priorOnHand:
                    type: number
                    description: OnHand before count
                  countedQty:
                    type: number
                    description: Physical count quantity
                  delta:
                    type: number
                    description: Difference (countedQty - priorOnHand)
                  message:
                    type: string
                    nullable: true
                    description: 'If delta=0: "no change", else null'
                  movementId:
                    type: string
                    nullable: true
                    description: Movement id (null if delta=0)
                  movement:
                    $ref: '#/components/schemas/InventoryMovement'
                    nullable: true
                    description: Created movement (null if delta=0)
        '400':
          description: BadRequest (e.g., countedQty < 0)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchasing/po/{id}:submit:
    post:
      summary: Submit purchase order
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
        '409':
          description: Guardrail violation (e.g., invalid status transition)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchasing/po/{id}:approve:
    post:
      summary: Approve purchase order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
        '409':
          description: Only submitted can approve
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchasing/po/{id}:receive:
    post:
      summary: Receive against purchase order lines
      description: Allowed from **approved** or **partially_fulfilled**. Over-receive returns 409. \ **Idempotency:** provide an `Idempotency-Key` header to safely retry the same receive request; \ duplicates with the same key will return the current PO state without double-applying movements.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderReceiveRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
        '409':
          description: Over-receive or invalid status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchasing/po/{id}:cancel:
    post:
      summary: Cancel purchase order
      description: Allowed from **draft**/**submitted**. Returns 409 otherwise.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
        '409':
          description: Guardrail violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchasing/po/{id}:close:
    post:
      summary: Close purchase order
      description: Allowed from **fulfilled**. Returns 409 otherwise.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
        '409':
          description: Guardrail violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purchase-orders/{id}/receive-line:
    post:
      deprecated: true
      tags:
        - Purchasing
      summary: Receive a specific PO line
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lineId
                - qty
              properties:
                lineId:
                  type: string
                qty:
                  type: number
                  minimum: 1
                lot:
                  type: string
                  nullable: true
                location:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
  /purchasing/suggest-po:
    post:
      tags:
        - Purchasing
      summary: Build a PO draft from backorder requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - backorderRequestId
                    properties:
                      backorderRequestId:
                        type: string
                vendorId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: One or more purchase order drafts (not persisted)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestPoResponse'
  /purchasing/po:create-from-suggestion:
    post:
      summary: Persist purchase order draft(s) created from suggestion
      operationId: createPoFromSuggestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required:
                    - draft
                  properties:
                    draft:
                      $ref: '#/components/schemas/PurchaseOrder'
                - type: object
                  required:
                    - drafts
                  properties:
                    drafts:
                      type: array
                      items:
                        $ref: '#/components/schemas/PurchaseOrder'
      responses:
        '200':
          description: Created id(s)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Convenience when exactly one was created
                  ids:
                    type: array
                    items:
                      type: string
  /objects/backorderRequest/{id}:ignore:
    post:
      tags:
        - Objects
      summary: Mark a BackorderRequest as ignored
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated BackorderRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackorderRequest'
  /objects/backorderRequest/{id}:convert:
    post:
      tags:
        - Objects
      summary: Mark a BackorderRequest as converted (attached to a PO)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated BackorderRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackorderRequest'
  /sales/so/{id}:submit:
    post:
      summary: Submit sales order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
  /sales/so/{id}:commit:
    post:
      summary: Commit/allocate inventory for a sales order
      description: |
        Default is non-strict (200 with `shortages[]` when partially available).
        Set `?strict=1` or `{ "strict": true }` to require full availability (409 on shortage).
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: strict
          schema:
            type: integer
            enum:
              - 0
              - 1
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesCommitRequest'
      responses:
        '200':
          description: OK (may include `shortages[]` when non-strict)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCommitResponse'
        '409':
          description: Insufficient availability in strict mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCommitResponse'
  /sales/so/{id}:reserve:
    post:
      summary: Reserve specific line quantities on a sales order
      description: Valid from **submitted** or **committed**.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderReserveRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
        '409':
          description: Insufficient availability
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  shortages:
                    type: array
                    items:
                      type: object
                      properties:
                        lineId:
                          type: string
                        itemId:
                          type: string
                        requested:
                          type: number
                        available:
                          type: number
  /sales/so/{id}:release:
    post:
      summary: Release previously reserved quantity
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderReleaseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
        '409':
          description: Guardrail violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sales/so/{id}:fulfill:
    post:
      summary: Fulfill (ship/pick) SO lines
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lines:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - lineId
                      - deltaQty
                    properties:
                      lineId:
                        type: string
                      deltaQty:
                        type: number
                        minimum: 1
                        description: Quantity shipped/picked
                      locationId:
                        type: string
                      lot:
                        type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
        '409':
          description: Guardrail violation (over-fulfill or invalid status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sales/so/{id}:cancel:
    post:
      summary: Cancel sales order
      description: Blocked when **net reservations > 0** or **any fulfillments** exist.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
        '409':
          description: Guardrail violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sales/so/{id}:close:
    post:
      summary: Close sales order (allowed from fulfilled)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
  /sales-orders/{id}/fulfill-line:
    post:
      deprecated: true
      description: Use `POST /sales/so/{id}:fulfill` instead.
      tags:
        - Sales
      summary: Fulfill a specific SO line
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lineId
                - qty
              properties:
                lineId:
                  type: string
                qty:
                  type: number
                lot:
                  type: string
                  nullable: true
                location:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
  /routing/graph:
    post:
      operationId: upsertRoutingGraph
      summary: Upsert nodes and edges for routing (idempotent)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    $ref: '#/components/schemas/LocationNode'
                edges:
                  type: array
                  items:
                    $ref: '#/components/schemas/PathEdge'
      responses:
        '200':
          description: OK
  /routing/plan:
    post:
      operationId: createRoutePlan
      summary: Create a route plan from tasks and objective
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objective:
                  type: string
                  enum:
                    - shortest
                    - fastest
                    - cheapest
                    - balanced
                constraints:
                  $ref: '#/components/schemas/RoutePlan/properties/constraints'
                carrierId:
                  type: string
                tasks:
                  type: array
                  items:
                    $ref: '#/components/schemas/DeliveryTask'
                graph:
                  type: object
                  properties:
                    nodes:
                      type: array
                      items:
                        $ref: '#/components/schemas/LocationNode'
                    edges:
                      type: array
                      items:
                        $ref: '#/components/schemas/PathEdge'
      responses:
        '200':
          description: Created plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutePlan'
  /routing/plan/{id}:
    get:
      operationId: getRoutePlan
      summary: Get a route plan by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Route plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutePlan'
  /events/registration/{id}:cancel:
    post:
      summary: Cancel a registration
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
  /events/registration/{id}:checkin:
    post:
      summary: Check in a registration
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
  /events/registration/{id}:checkout:
    post:
      summary: Check out a registration
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
  /resources/reservation/{id}:cancel:
    post:
      summary: Cancel a reservation
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
  /resources/reservation/{id}:start:
    post:
      summary: Start a reservation (resource now in use)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
  /resources/reservation/{id}:end:
    post:
      summary: End a reservation (resource returned)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Updated reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
  /epc/resolve:
    get:
      summary: Resolve EPC to item
      parameters:
        - in: query
          name: epc
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itemId:
                    type: string
                  status:
                    type: string
        '404':
          description: Not found
  /scanner/sessions:
    post:
      summary: Start/stop a scanner session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                op:
                  type: string
                  enum:
                    - start
                    - stop
                sessionId:
                  type: string
                  description: Required for stop
                workspaceId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScannerSession'
  /scanner/actions:
    post:
      summary: Record a scanner action (pick/receive/count/move)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - epc
              properties:
                action:
                  type: string
                  enum:
                    - pick
                    - receive
                    - count
                    - move
                epc:
                  type: string
                qty:
                  type: number
                  default: 1
                soId:
                  type: string
                lineId:
                  type: string
                fromLocationId:
                  type: string
                toLocationId:
                  type: string
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScannerAction'
        '409':
          description: Guardrail violation
  /scanner/simulate:
    post:
      summary: Dev only - generate EPCs bound to itemIds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  type: integer
                  default: 10
                  minimum: 1
                  maximum: 1000
                itemId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
  /admin/audit:
    get:
      tags:
        - Admin
      operationId: listAudit
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: Admin Audit
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
      description: Optional idempotency key for safe retries.
    TenantHeader:
      name: x-tenant-id
      in: header
      required: true
      schema:
        type: string
    TypePath:
      name: type
      in: path
      required: true
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 200
        default: 25
      description: Maximum number of items to return
    Next:
      name: next
      in: query
      schema:
        type: string
    Q:
      name: q
      in: query
      schema:
        type: string
      description: Optional substring search filter
    Cursor:
      name: next
      in: query
      schema:
        type: string
      description: Opaque pagination cursor for next page
    EntityType:
      name: entityType
      in: query
      schema:
        type: string
        enum:
          - purchaseOrder
          - salesOrder
          - inventoryItem
          - party
          - account
          - event
          - employee
          - organization
          - product
          - class
          - division
      description: Filter by entity/object type
    Fields:
      name: fields
      in: query
      schema:
        type: string
        description: Comma-separated field projection
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationErrorResponse:
      description: Validation error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    ListPage:
      description: Paged list of objects
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/AnyObject'
              next:
                type: string
                nullable: true
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Optional additional context
    ValidationError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            fieldErrors:
              type: array
              description: Field-specific validation errors
              items:
                type: object
                required:
                  - field
                  - message
                properties:
                  field:
                    type: string
                    description: Field name or path
                  message:
                    type: string
                    description: Validation error message
                  code:
                    type: string
                    description: Error code for this field
    Account:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - account
            name:
              type: string
              minLength: 1
            number:
              type: string
              minLength: 1
            currency:
              type: string
              pattern: ^[A-Z]{3}$
              default: USD
            accountType:
              type: string
              description: e.g., asset, liability, revenue, expense, equity
              enum:
                - asset
                - liability
                - revenue
                - expense
                - equity
            balance:
              type: number
              description: Current balance (display only)
              readOnly: true
            status:
              type: string
              enum:
                - active
                - inactive
                - archived
              default: active
    Address:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postal:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
    AnyObject:
      type: object
      additionalProperties: true
      properties: {}
    BackorderRequest:
      type: object
      required:
        - id
        - type
        - soId
        - soLineId
        - itemId
        - qty
        - createdAt
        - status
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - backorderRequest
        preferredVendorId:
          type: string
          nullable: true
          description: Optional denormalized vendor preference for UI filtering
        soId:
          type: string
        soLineId:
          type: string
        itemId:
          type: string
        qty:
          type: number
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - open
            - ignored
            - converted
          default: open
    Class:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - class
            divisionId:
              type: string
              nullable: true
            code:
              type: string
            name:
              type: string
            description:
              type: string
              nullable: true
            fee:
              type: number
              nullable: true
            order:
              type: integer
              nullable: true
            rules:
              type: array
              items:
                type: string
              nullable: true
            notes:
              type: string
              nullable: true
    CustomerAccount:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - customerAccount
            partyId:
              type: string
            termsId:
              type: string
              nullable: true
            creditLimit:
              type: number
              nullable: true
            priceListId:
              type: string
              nullable: true
            taxExempt:
              type: boolean
              default: false
            defaultBillToId:
              type: string
              nullable: true
            defaultShipToId:
              type: string
              nullable: true
          required:
            - partyId
    Division:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - division
            code:
              type: string
            name:
              type: string
            description:
              type: string
              nullable: true
            fee:
              type: number
              nullable: true
            rules:
              type: array
              items:
                type: string
              nullable: true
            notes:
              type: string
              nullable: true
    Employee:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - employee
            name:
              type: string
              minLength: 1
            displayName:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            role:
              type: string
            status:
              type: string
              enum:
                - active
                - inactive
                - terminated
              default: active
            hiredAt:
              type: string
              format: date-time
            startDate:
              type: string
              format: date-time
              description: Alias of hiredAt for UI consistency
            terminatedAt:
              type: string
              format: date-time
            notes:
              type: string
    EpcBinding:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - epcBinding
            epc:
              type: string
            itemId:
              type: string
            locationId:
              type: string
            lot:
              type: string
              nullable: true
            state:
              type: string
              enum:
                - active
                - retired
              default: active
          required:
            - type
            - epc
            - itemId
    EPCMap:
      type: object
      required:
        - id
        - type
        - epc
        - itemId
      properties:
        id:
          type: string
          description: Use EPC string as id
        type:
          type: string
          enum:
            - epcMap
          default: epcMap
        epc:
          type: string
        itemId:
          type: string
        lotId:
          type: string
          nullable: true
        locationId:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - active
            - retired
          default: active
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Event:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - event
            name:
              type: string
            description:
              type: string
            location:
              type: string
            startsAt:
              type: string
              format: date-time
            endsAt:
              type: string
              format: date-time
            start:
              type: string
              format: date-time
              description: Alias of startsAt (deprecated)
            end:
              type: string
              format: date-time
              description: Alias of endsAt (deprecated)
            status:
              type: string
              default: draft
              enum:
                - draft
                - scheduled
                - open
                - closed
                - completed
                - cancelled
                - archived
            capacity:
              type: number
              minimum: 0
            notes:
              type: string
            lines:
              type: array
              items:
                $ref: '#/components/schemas/EventLine'
          required:
            - type
            - name
            - startsAt
    EventLine:
      type: object
      properties:
        id:
          type: string
        classId:
          type: string
        capacity:
          type: number
          nullable: true
        fee:
          type: number
          nullable: true
        note:
          type: string
          nullable: true
      required:
        - classId
    GoodsReceipt:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - poId
            - ts
            - lines
          properties:
            id:
              type: string
            type:
              type: string
              enum:
                - goodsReceipt
            tenantId:
              type: string
            poId:
              type: string
            userId:
              type: string
              nullable: true
            ts:
              type: string
              format: date-time
              nullable: true
            lines:
              type: array
              items:
                type: object
                required:
                  - lineId
                  - deltaQty
                properties:
                  lineId:
                    type: string
                  itemId:
                    type: string
                    nullable: true
                  deltaQty:
                    type: number
                  lot:
                    type: string
                    nullable: true
                  locationId:
                    type: string
                    nullable: true
            notes:
              type: string
              nullable: true
            attachments:
              type: array
              items:
                type: string
    GoodsReceiptLine:
      type: object
      required:
        - lineId
        - deltaQty
      properties:
        lineId:
          type: string
        deltaQty:
          type: number
        locationId:
          type: string
          nullable: true
        lot:
          type: string
          nullable: true
    Integration:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - integration
            provider:
              type: string
              enum:
                - shopify
                - quickbooks
                - rfid
                - webhook
                - streaming
            status:
              type: string
              enum:
                - disabled
                - enabled
            config:
              type: object
              additionalProperties: true
          required:
            - type
            - provider
            - status
    IntegrationRun:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - integrationRun
            integrationId:
              type: string
            startedAt:
              type: string
              format: date-time
            finishedAt:
              type: string
              format: date-time
              nullable: true
            status:
              type: string
              enum:
                - queued
                - running
                - success
                - error
            stats:
              type: object
              additionalProperties: true
            error:
              type: string
              nullable: true
          required:
            - type
            - integrationId
            - startedAt
            - status
    InventoryAdjustmentRequest:
      type: object
      required:
        - reason
        - deltaQty
      properties:
        reason:
          type: string
          minLength: 1
        deltaQty:
          type: number
        notes:
          type: string
          nullable: true
    PutawayRequest:
      type: object
      required:
        - qty
        - toLocationId
      properties:
        qty:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Quantity to putaway (must be > 0)
        toLocationId:
          type: string
          description: Target location id
        fromLocationId:
          type: string
          nullable: true
          description: Source location id (optional audit trail)
        lot:
          type: string
          nullable: true
          description: Lot identifier (optional)
        note:
          type: string
          nullable: true
          description: Optional note for the putaway movement
    CycleCountRequest:
      type: object
      required:
        - countedQty
      properties:
        countedQty:
          type: number
          minimum: 0
          description: Physical count quantity (non-negative)
        locationId:
          type: string
          nullable: true
          description: Location where count was performed (optional)
        lot:
          type: string
          nullable: true
          description: Lot identifier (optional)
        note:
          type: string
          nullable: true
          description: Optional note for the cycle count movement
    InventoryItem:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - inventory
            productId:
              type: string
              nullable: true
            name:
              type: string
            sku:
              type: string
            quantity:
              type: number
              description: Deprecated – use /inventory/{id}/onhand
              deprecated: true
            uom:
              type: string
            location:
              type: string
              nullable: true
            minQty:
              type: number
              minimum: 0
              nullable: true
            maxQty:
              type: number
              minimum: 0
              nullable: true
            status:
              type: string
              enum:
                - active
                - inactive
                - archived
              default: active
            notes:
              type: string
              nullable: true
            lotTracked:
              type: boolean
              default: false
            barcode:
              type: string
              nullable: true
            tags:
              type: array
              items:
                type: string
    InventoryMovement:
      type: object
      required:
        - id
        - itemId
        - action
        - qty
      properties:
        id:
          type: string
        itemId:
          type: string
        action:
          type: string
          enum:
            - receive
            - reserve
            - commit
            - fulfill
            - adjust
            - release
            - putaway
            - cycle_count
        qty:
          type: number
        at:
          type: string
          format: date-time
        note:
          type: string
          nullable: true
        actorId:
          type: string
          nullable: true
        refId:
          type: string
          description: Source document id (e.g., purchaseOrder id)
          nullable: true
        poLineId:
          type: string
          description: Optional purchase order line id (when action is from a PO)
          nullable: true
        uom:
          type: string
          nullable: true
        lot:
          type: string
          nullable: true
        locationId:
          type: string
          nullable: true
        docType:
          type: string
          readOnly: true
          enum:
            - inventoryMovement
    InventoryOnHand:
      type: object
      required:
        - id
        - qtyOnHand
      properties:
        id:
          type: string
        qtyOnHand:
          type: number
          minimum: 0
        qtyAvailable:
          type: number
          minimum: 0
          nullable: true
        asOf:
          type: string
          format: date-time
      deprecated: true
      description: Deprecated – use InventoryCounters & GET /inventory/{id}/onhand
    ListPageInventoryMovement:
      type: object
      required:
        - itemId
        - items
      properties:
        itemId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryMovement'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
        pageInfo:
          description: Optional pagination metadata (clients may ignore).
          type: object
          properties:
            hasNext:
              type: boolean
            nextCursor:
              type: string
              nullable: true
            pageSize:
              type: integer
    ListMovementsByLocationResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryMovement'
        next:
          type: string
          nullable: true
          description: Opaque cursor for next page (if any)
    Message:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - channel
            - body
          properties:
            type:
              type: string
              enum:
                - message
            channel:
              type: string
              enum:
                - push
                - sms
                - email
            subject:
              type: string
              nullable: true
            body:
              type: string
            segment:
              type: object
              additionalProperties: true
              nullable: true
            scheduleAt:
              type: string
              format: date-time
              nullable: true
            sentAt:
              type: string
              format: date-time
              nullable: true
            status:
              type: string
              enum:
                - queued
                - sending
                - sent
                - failed
                - cancelled
              default: queued
            notes:
              type: string
              nullable: true
    MoneyTotals:
      type: object
      properties:
        subtotal:
          type: number
        tax:
          type: number
        shipping:
          type: number
        discount:
          type: number
        total:
          type: number
    ObjectBase:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        tenantId:
          type: string
          readOnly: true
        type:
          type: string
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        metadata:
          type: object
          additionalProperties: true
      required:
        - id
        - tenantId
        - createdAt
        - updatedAt
    Organization:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - organization
            name:
              type: string
            kind:
              type: string
              enum:
                - club
                - federation
                - venueOp
                - sponsor
              example: federation
            status:
              type: string
              enum:
                - active
                - inactive
                - archived
              default: active
            notes:
              type: string
              nullable: true
            metadata:
              type: object
              additionalProperties: true
              nullable: true
            code:
              type: string
              nullable: true
            website:
              type: string
              format: uri
              nullable: true
            phone:
              type: string
              nullable: true
            email:
              type: string
              format: email
              nullable: true
            address:
              type: string
              nullable: true
            prefs:
              type: object
              additionalProperties: true
              nullable: true
    Party:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - kind
            - displayName
            - status
          properties:
            type:
              type: string
              enum:
                - party
            kind:
              type: string
              enum:
                - person
                - organization
                - animal
            displayName:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            addresses:
              type: array
              items:
                $ref: '#/components/schemas/Address'
            tags:
              type: array
              items:
                type: string
            status:
              type: string
              enum:
                - active
                - inactive
                - archived
              default: active
            notes:
              type: string
            roles:
              type: array
              items:
                type: string
              description: Canonical role membership (customer, vendor, employee, etc.). Used for party role enforcement.
    PartyLink:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - aPartyId
            - bPartyId
            - kind
          properties:
            type:
              type: string
              enum:
                - partyLink
            aPartyId:
              type: string
            bPartyId:
              type: string
            kind:
              type: string
              enum:
                - employs
                - member_of
                - owns
                - handles
                - parent
                - affiliate
            startsAt:
              type: string
              format: date-time
            endsAt:
              type: string
              format: date-time
            notes:
              type: string
    Policy:
      type: object
      properties:
        tenantId:
          type: string
        userId:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          type: array
          items:
            type: string
        ui:
          type: object
          properties:
            allowedModuleKeys:
              type: array
              items:
                type: string
            allowedViews:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  moduleKey:
                    type: string
            allowedWorkspaces:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
      required:
        - permissions
        - roles
    Product:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - name
          properties:
            type:
              type: string
              enum:
                - product
            name:
              type: string
            kind:
              type: string
              enum:
                - good
                - service
              default: good
            sku:
              type: string
            price:
              type: number
              minimum: 0
              nullable: true
            reorderEnabled:
              type: boolean
              description: If false, never auto-suggest PO for shortages.
              default: true
            preferredVendorId:
              type: string
              nullable: true
            minOrderQty:
              type: number
              nullable: true
            leadTimeDays:
              type: number
              nullable: true
            taxCode:
              type: string
              nullable: true
            status:
              type: string
              enum:
                - active
                - inactive
                - archived
              default: active
            notes:
              type: string
              nullable: true
            defaultItemId:
              type: string
              nullable: true
            tags:
              type: array
              items:
                type: string
    PurchaseOrderLine:
      type: object
      required:
        - id
        - itemId
        - qty
        - uom
      properties:
        id:
          type: string
        itemId:
          type: string
          description: InventoryItem.id
        productId:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        uom:
          type: string
        qty:
          type: number
          minimum: 0
          description: Ordered quantity
        qtyReceived:
          type: number
          default: 0
        unitPrice:
          type: number
          nullable: true
        taxRate:
          type: number
          nullable: true
        lineTotal:
          type: number
          nullable: true
        locationId:
          type: string
          nullable: true
        lot:
          type: string
          nullable: true
        expectedDate:
          type: string
          format: date-time
          nullable: true
    PurchaseOrder:
      allOf:
        - $ref: '#/components/schemas/ObjectBase'
        - type: object
          required:
            - type
            - vendorId
            - status
          properties:
            type:
              type: string
              enum:
                - purchaseOrder
            vendorAccountId:
              type: string
            vendorId:
              type: string
            vendorName:
              type: string
            partyId:
              type: string
            partyKind:
              type: string
              enum:
                - person
                - organization
                - animal
            orderNumber:
              type: string
            status:
              type: string
              enum:
                - draft
                - submitted
                - approved
                - partially_fulfilled
                - fulfilled
                - cancelled
                - closed
            currency:
              type: string
              default: USD
            notes:
              type: string
            totals:
              $ref: '#/components/schemas/MoneyTotals'
            shipTo:
              type: object
              properties:
                name:
                  type: string
                address1:
                  type: string
                address2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal:
                  type: string
                country:
                  type: string
            billTo:
              type: object
              properties:
                name:
                  type: string
                address1:
                  type: string
                address2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal:
                  type: string
                country:
                  type: string
            lines:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLine'
    SuggestPoResponse:
      description: Single vendor returns `draft`; multi-vendor returns `drafts`. Always includes skipped entries for ignored/invalid requests.
      allOf:
        - type: object
          properties:
            skipped:
              type: array
              items:
                type: object
                required:
                  - backorderRequestId
                  - reason
                properties:
                  backorderRequestId:
                    type: string
                  reason:
                    type: string
                    enum:
                      - ZERO_QTY
                      - MISSING_VENDOR
                      - IGNORED
                      - NOT_FOUND
        - oneOf:
            - type: object
              required:
                - draft
              properties:
                draft:
                  $ref: '#/components/schemas/PurchaseOrder'
            - type: object
              required:
                - drafts
              properties:
                drafts:
                  type: array
                  items:
                    $ref: '#/components/schemas/PurchaseOrder'
    PurchaseOrderReceiveRequest:
      type: object
      required:
        - lines
      properties:
        idempotencyKey:
          type: string
          deprecated: true
        lines:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - lineId
              - deltaQty
[...]
